<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.styles.css[0] %>">
    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  </head>
  <body ng-app="zeplin.ui" strict-di>
    <layout />
    <script type="text/javascript">
      var VERSION = '<%= htmlWebpackPlugin.options.version %>';
      var PACKAGE_NAME = '<%= htmlWebpackPlugin.options.title %>';
      var LOGIN_ENDPOINT = 'http://localhost:38143/api/authentication/authenticate';
      var LOGOUT_ENDPOINT = 'http://localhost:38143/api/authentication/logout';
      var REGISTER_ENDPOINT = 'http://localhost:38143/api/users';
      var CARD_ENDPOINT = 'http://localhost:38143/api/cards';
      var COLUMN_ENDPOINT = 'http://localhost:38143/api/columns';
      var BOARD_ENDPOINT = 'http://localhost:38143/api/boards';
      var USER_ENDPOINT = 'http://localhost:38143/api/users';
      var VALIDATION_ENDPOINT = 'http://localhost:38143/api/validation';
      var TASK_ENDPOINT = '';
      var COLOR_PICKER = [
        '#8fb83b',
        '#6e592c',
        '#2d0202',
        '#13a896',
        '#847ea1',
        '#d109e7',
        '#445e79',
        '#338239',
        '#bd8a0c',
        '#c41059'
      ];
    </script>
    <script src="<%= htmlWebpackPlugin.files.chunks.scripts.entry %>"></script>
  </body>
</html>
