<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.styles.css[0] %>">
    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  </head>
  <body ng-app="zeplin.ui" strict-di>
    <layout />
    <script type="text/javascript">
      var VERSION = '<%= htmlWebpackPlugin.options.version %>';
      var PACKAGE_NAME = '<%= htmlWebpackPlugin.options.title %>';
      var LOGIN_ENDPOINT = 'http://localhost:38143/api/authentication/authenticate';
      var LOGOUT_ENDPOINT = 'http://localhost:38143/api/authentication/logout';
      var REGISTER_ENDPOINT = 'http://localhost:38143/api/users';
      var CARD_ENDPOINT = 'http://localhost:38143/api/cards';
      var TASK_ENDPOINT = 'http://localhost:38143/api/tasks';
      var BOARD_ENDPOINT = 'http://localhost:38143/api/boards';
      var USER_ENDPOINT = 'http://localhost:38143/api/users';
      var GET_BOARDS_ENDPOINT = '';
      var GET_BOARD_BY_ID_ENDPOINT = '';
      var GET_BOARD_BY_NAME_ENDPOINT = '';
      var CREATE_BOARD_ENDPOINT = '';
    </script>
    <script src="<%= htmlWebpackPlugin.files.chunks.scripts.entry %>"></script>
  </body>
</html>
